ul.articles
	- each article in articles
		li
			a(href="ssm://article/#{article.namn}").clearfix
				div.img
					img(src="#{article.thumb}")
				h3.name
					#{article.namn}
				div(style="background: url(/images/seasonIndicators/#{article.s1}) no-repeat").indicator

			
			//
				div.img 
					img(src="#{article.thumb}")
				div.content
					div.name
						#{article.namn}
					div.ssm 
						img(src="").season
				div.indicator
					img(src="/images/indicator.png")
						